<!-- wp:template-part {"slug":"header","theme":"youbou-blocks","tagName":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group">

    <!-- wp:heading {"level":1} -->
    <h1 class="wp-block-heading">404</h1>
    <!-- /wp:heading -->

    <!-- wp:paragraph -->
    <p>It seems like you have tried to open a page that doesn't exist. It could have been deleted, moved, or it never existed at all.</p>
    <!-- /wp:paragraph -->

    <!-- wp:heading -->
    <h2 class="wp-block-heading">Recent Posts</h2>
    <!-- /wp:heading -->

    <!-- wp:latest-posts /-->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"youbou-blocks","tagName":"footer"} /-->
